.course-card {
  .icon {
    color: var(--color-light);
  }
  a:hover {
    border-color: var(--color-light);
    background: var(--color-light);
    color: black;
  }
  .translation {
    color: var(--color-light);
  }
}

[data-theme='dark'] .course-card {
  .icon {
    color: var(--color-dark);
  }

  a:hover {
    border-color: var(--color-dark);
    background: var(--color-dark);
  }

  .translation {
    color: var(--color-light);
  }
}
