---
import Layout from '../../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import '@styles/lessons/index.css'

const lessons = await getCollection('grammar')
const lesson = lessons.find((lesson) => lesson.id === 'nouns/there-be')

if (!lesson) {
  throw new Error('Lesson not found')
}

const { Content } = await render(lesson)
---

<Layout>
  <article class='lesson mx-auto'>
    <header class='lesson-header test'>
      navbar - {lesson.data.topic} - {lesson.data.title}
    </header>

    <aside class='lesson-aside p-4 test'>
      <p>Grammar</p>
      <ul class='list-disc list-inside'>
        <li>Pronouns</li>
        <li>The Article</li>
        <li>Preposition</li>
        <li>Nouns</li>
        <li>Adjectives</li>
        <li>Verbs</li>
        <li>Sentence Structure</li>
        <li>Verb Tenses: Present</li>
        <li>Number, Dates, Time</li>
      </ul>
      <br />
      <p>This lesson</p>
      <ul class='list-disc list-inside'>
        <li>theme 1</li>
        <li>theme 2</li>
        <li>theme 3</li>
      </ul>
    </aside>

    <main class='lesson-main grid p-8'>
      <article class='max-w-4xl lesson-content grid gap-4'>
        <Content />
      </article>
    </main>
  </article>
</Layout>

<style>
  .lesson {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      'navbar'
      'content';
  }

  .lesson-header {
    grid-area: navbar;
    border: 1px solid #0f0;
  }

  .lesson-main {
    grid-area: content;
    border: 1px solid #0ff;
  }

  .lesson-aside {
    display: none;
    grid-area: aside;
  }

  @media screen and (min-width: 1100px) {
    .lesson-aside {
      display: block;
    }
    .lesson {
      grid-template-columns: 250px 56rem;
      grid-template-areas:
        'navbar navbar'
        'aside content'
        'aside content';
    }
  }
</style>
