@theme {
  --color-brand: var(--color-brand);
  --color-accent: var(--color-accent);

  --color-overlay: var(--color-overlay);
  --color-text: var(--color-text);
  --color-muted: var(--color-text-muted);

  --font-display: var(--font-display);
  --font-body: var(--font-body);
}
