:root {
  --bg-selection: #1b1919;
  --underlay-dark: #0f172a;
  --underlay-light: #efefef;

  --primary: #904bbf;
  --secondary: #318fa9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2e4bb3;
    --secondary: #2fd9e7;
  }
}
