@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-body: 'Manrope', system-ui, sans-serif;
  --font-display: 'Raleway', sans-serif;
}
