---
import Layout from '../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'

const lessons = await getCollection('lessons')

const lesson = lessons.find((lesson) => lesson.id === 'pronouns/personal-pronouns')

if (!lesson) {
  throw new Error('Lesson not found')
}

const { Content } = await render(lesson)
---

<Layout>
  <h1>{lesson.data.title}</h1>

  <article class='p-4'>
    <Content />
  </article>
</Layout>
