@import './tokens.css';
@import '../tokens/index.css';

/* ----- Highlight ----- */

.mdx-content em,
.mdx-content strong,
.mdx-content em > strong,
.mdx-content code {
  font-weight: 500;
  font-style: normal;
}

.mdx-content em /* Important Info -> *text* */ {
  color: var(--color-highlight-primary);
}
.mdx-content strong /* Key Concepts -> **text** */ {
  color: var(--color-highlight-secondary);
}
.mdx-content strong > em  /* Notice / Exceptions -> ***text*** */ {
  color: var(--color-highlight-emphasis);
}

/* ----- Titles ----- */

.mdx-content h1,
.mdx-content h2,
.mdx-content h3 {
  color: var(--mdx-text-primary);
  letter-spacing: 0.05rem;
  font-family: var(--font-raleway);
  padding: 0.5rem 0;
}

.mdx-content h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.mdx-content h2 {
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.mdx-content hr ~ h2 {
  margin-top: 1.5rem;
}
.mdx-content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

/* ----- Paragraphs ----- */

.mdx-content p {
  color: var(--mdx-text-secondary);
  line-height: 1.5rem;
  font-size: 1.125rem;
  max-width: 65ch;
}

/* ----- Tables ----- */

.mdx-content table {
  width: max-content;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--mdx-border);
  border-radius: 0.75rem;
  overflow: hidden;
  background: var(--mdx-surface-secondary);
  box-shadow: 2px 2px 5px #000000;
}

.mdx-content section > table {
  width: 100%;
}

.mdx-content thead {
  background: var(--mdx-surface);
}

.mdx-content th {
  padding: 0.6rem 1rem;
  text-align: left;
  font-weight: 600;
  color: var(--mdx-text-primary);
  border-bottom: 1px solid var(--mdx-border);
  border-left: 1px solid var(--mdx-border);
}

.mdx-content td {
  padding: 0.6rem 1rem;
  color: var(--mdx-text-secondary);
}

.mdx-content tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--mdx-border);
}

.mdx-content tbody tr td:not(:first-child) {
  border-left: 1px solid var(--mdx-border);
}

/* ----- Lists ----- */

.mdx-content ul {
  color: var(--mdx-text-secondary);
  list-style: disc;
  list-style-position: inside;
}
.mdx-content li {
  margin-bottom: 0.2rem;
}
.mdx-content li ul {
  margin-left: 1rem;
}
.mdx-content li:has(h4) {
  list-style: none;
}
.mdx-content li h4 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
}

/* hr */

.mdx-content hr {
  color: var(--mdx-border);
  margin: 0.6rem 0;
}

/* ----- Lesson Block ----- */

.mdx-content .lesson-block > section > blockquote {
  display: block;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  background: #06b6d440;
}

.mdx-content .lesson-block > section > ul {
  list-style: circle;
  list-style-position: inside;
}

.mdx-content .lesson-block > section > ul > li {
  padding: 0.1rem 0.5rem;
}
