.vocabulary {
  table {
    background: #0f766e20;
    border: 1px solid #0f766e;
  }
  thead {
    background: #0f766e50;
  }
  th {
    border-bottom: 1px solid #0f766e;
  }

  tbody tr:hover {
    background: #0f766e30;
  }
  tbody tr:not(:last-child) td {
    border-bottom: 1px solid #0f766e;
  }

  th:not(:first-child),
  td:not(:first-child) {
    border-left: 1px solid #0f766e;
  }
  ::-webkit-scrollbar-thumb {
    background: #0f766e;
  }
}
